<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Tracker: Account Admin</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"
    />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
  </head>

  <body>
    <div class="uk-section">
      <div class="uk-container">
        <!-- prettier-ignore -->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="" style="width: 100%">
          <div class="uk-navbar-left">
            <img src="/imgs/brain_icon.png" />

            <ul class="uk-navbar-nav">
              <% if (loggedin) { %>
              <li class="uk-active"><a href="/">Snapshots</a></li>
              <li class="uk-parent"><a href="#" onclick="navigateToAddPage()">Add</a></li>
              <% } %>
          </ul>
          </div>
          <% if (!loggedin) { %>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/createaccount">Create Account</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/login">Login</a></li>
            </ul>
          </div>
          <% } else { %>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/logout">Logout</a></li>
            </ul>
          </div>
          <% } %>
        </nav>
      </div>
    </div>

    <div class="uk-section uk-background-muted">
      <!-- prettier-ignore -->
      <div class="uk-container">
        <h2 class="uk-heading-small uk-heading-line uk-text-center">
          <span>Account Admin</span>
        </h2>
        <% if (loggedin) { %>
          <div class="uk-button uk-form-select" data-uk-form-select>
            <span>User:</span>
            <select id="userDropdown">
              <% for (let row of details) { %>
                <% console.log(row); %>
                  <option value="<%= row.id %>"><%= row.name %></option>
              <% } %>
            </select>
          </div>
        <% } %>
        <div class="uk-section uk-background-muted">
          <div class="uk-container">
            <h2 class="uk-text-large uk-heading-line uk-text-center">
              <span>Manage Account Details</span>
            </h2>
            <form
              method="post"
              action="/useradmin/users/edit"
              class="uk-grid-small"
              uk-grid
            >
              <div class="uk-width-1-2@s">
                <input
                  class="uk-input"
                  name="username"
                  type="text"
                  placeholder="Username"
                  uk-tooltip="title: Username (min. 3/max. 250 characters): if left blank, email address will be used as login ID"
                  required
                />
              </div>
              <div class="uk-width-1-2@s">
                <input
                  class="uk-input"
                  name="email"
                  type="text"
                  placeholder="Email Address"
                  uk-tooltip="title: Email address (min. 3/max. 250 characters)"
                  required
                />
              </div>
              <div class="uk-width-1-2@s">
                <input
                  class="uk-input"
                  name="firstname"
                  type="text"
                  placeholder="First Name"
                  uk-tooltip="title: First name (optional - max. 100 characters)"
                  required
                />
              </div>
              <div class="uk-width-1-2@s">
                <input
                  class="uk-input"
                  name="lastname"
                  type="text"
                  placeholder="Last Name"
                  uk-tooltip="title: Last name (optional - max. 100 characters)"
                  required
                />
              </div>
              <div class="uk-width-1-2@s">
                <input class="uk-input" id="userpass" name="userpass"
                       type="password" placeholder="Password"
                       uk-tooltip="title: Password (min. 3/max. 50 characters)"
                       required/>
                <input type="checkbox" id="togglePassword"> Show Password
              </div>
              <% if (role == 'administrator') { %>
                <div class="uk-width-1-2@s">
                  <select class="uk-select" name="userrole" required>
                    <option value="user">User</option>
                    <option value="administrator">Administrator</option>
                  </select>
              </div>
              <% } %>
                <div class="uk-width-1-4@s">
                <div uk-form-custom>
                  <button
                    class="uk-button uk-button-primary uk-align-center create-account-button"
                    style="width: 100%"
                  >
                    Update Account
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Get the password field and the checkbox
      var passwordField = document.getElementById("userpass");
      var togglePasswordCheckbox = document.getElementById("togglePassword");

      // When the checkbox is clicked, update the type of the password field
      togglePasswordCheckbox.addEventListener("click", function () {
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      });
    </script>
    <script>
      // Create a JavaScript variable and assign the details array to it
      var details = <%- JSON.stringify(details) %>;

      // Function to update the input fields based on the selected user ID
      function updateUserInputs(selectedUserId) {
        // Find the corresponding user details based on the selected ID
        var selectedUser = details.find(function(user) {
          return user.id == selectedUserId;
        });

        // Update other input fields with the selected user details
        document.getElementsByName('username')[0].value = selectedUser.name;
        document.getElementsByName('email')[0].value = selectedUser.email;
        document.getElementsByName('firstname')[0].value = selectedUser.firstname;
        document.getElementsByName('lastname')[0].value = selectedUser.lastname;
        document.getElementsByName('userpass')[0].value = selectedUser.password;
        <% if (role == 'administrator') { %>
          document.getElementsByName('userrole')[0].value = selectedUser.role;
        <% } %>
      }

      // JavaScript to handle the change event of the dropdown
      document.getElementById('userDropdown').addEventListener('change', function() {
        // Get the selected option value
        var selectedUserId = this.value;

        // Update the input fields
        updateUserInputs(selectedUserId);
      });

      // Call the function to update the input fields when the page loads
      updateUserInputs(document.getElementById('userDropdown').value);
    </script>
  </body>
</html>
