<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Tracker: Account Admin</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <div class="uk-section">
      <div class="uk-container">
        <!-- prettier-ignore -->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="" style="width: 100%">
          <div class="uk-navbar-left">
            <img src="/imgs/brain_icon.png" />

            <ul class="uk-navbar-nav">
              <% if (loggedin) { %>
              <li class="uk-active"><a href="/">Snapshots</a></li>
              <li class="uk-parent"><a href="#" onclick="navigateToAddPage()">Add</a></li>
              <% } %>
          </ul>
          </div>
          <% if (!loggedin) { %>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/createaccount">Create Account</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/login">Login</a></li>
            </ul>
          </div>
          <% } else { %>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/logout">Logout</a></li>
            </ul>
          </div>
          <% } %>
        </nav>
      </div>
    </div>

    <div class="uk-section uk-background-muted">
      <!-- prettier-ignore -->
      <div class="uk-container">
        <h2 class="uk-heading-small uk-heading-line uk-text-center">
          <span>Account Admin</span>
        </h2>
        <% if (loggedin) { %>
          <div class="uk-button uk-form-select" data-uk-form-select>
            <span>User:</span>
            <select id="userDropdown">
              <% for (let row of details) { %>
                  <option value="<%= row.id %>"><%= row.name %></option>
              <% } %>
            </select>
          </div>
        <% } %>
        <div class="uk-section uk-background-muted">
          <div class="uk-container">
            <h2 class="uk-text-large uk-heading-line uk-text-center">
              <span>Manage Account Details</span>
            </h2>
            <form id="updateForm" class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2@s">
                <input class="uk-input" name="username" type="text" placeholder="Username"
                  uk-tooltip="title: Username (min. 3/max. 250 characters): if left blank, email address will be used as login ID"
                  required/>
              </div>
              <div class="uk-width-1-2@s">
                <input class="uk-input" name="email" type="text" placeholder="Email Address"
                  uk-tooltip="title: Email address (min. 3/max. 250 characters)"
                  required/>
              </div>
              <div class="uk-width-1-2@s">
                <input class="uk-input" name="firstname" type="text" placeholder="First Name"
                  uk-tooltip="title: First name (optional - max. 100 characters)"
                  required/>
              </div>
              <div class="uk-width-1-2@s">
                <input class="uk-input" name="lastname" type="text" placeholder="Last Name"
                  uk-tooltip="title: Last name (optional - max. 100 characters)"
                  required/>
              </div>
              <div class="uk-width-1-2@s">
                <input class="uk-input" id="userpass" name="userpass" type="password" placeholder="Password"
                       uk-tooltip="title: Password (min. 3/max. 50 characters)"
                       required/>
                <input type="checkbox" id="togglePassword"> Show Password
              </div>
              <% if (role == 'administrator') { %>
                <div class="uk-width-1-2@s">
                  <select class="uk-select" name="userrole" required>
                    <option value="user">User</option>
                    <option value="administrator">Administrator</option>
                  </select>
              </div>
              <% } %>
              <div class="uk-width-1-4@s">
                <div uk-form-custom>
                  <button class="uk-button uk-button-primary uk-align-center update-account-button"
                    style="width: 100%">
                    Update Account
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Get the password field and the checkbox
      var passwordField = document.getElementById("userpass");
      var togglePasswordCheckbox = document.getElementById("togglePassword");

      togglePasswordCheckbox.addEventListener("click", function () {
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      });
    </script>
    <!-- prettier-ignore -->
    <script>
      // Create a JavaScript variable and assign the details array to it
      var details = <%- JSON.stringify(details) %>;
    
      // Function to update the input fields based on the selected user ID
      function updateUserInputs(selectedUserId) {
        // Find the corresponding user details based on the selected ID
        var selectedUser = details.find(function(user) {
          return user.id == selectedUserId;
        });
    
        // Update other input fields with the selected user details
        document.getElementsByName('username')[0].value = selectedUser.name;
        document.getElementsByName('email')[0].value = selectedUser.email;
        document.getElementsByName('firstname')[0].value = selectedUser.firstname;
        document.getElementsByName('lastname')[0].value = selectedUser.lastname;
        document.getElementsByName('userpass')[0].value = selectedUser.password;
        <% if (role == 'administrator') { %>
          document.getElementsByName('userrole')[0].value = selectedUser.role;
        <% } %>
      }
    
      // JavaScript to handle the change event of the dropdown
      document.getElementById('userDropdown').addEventListener('change', function() {
        // Get the selected option value
        var selectedUserId = this.value;
    
        // Update the input fields
        updateUserInputs(selectedUserId);
      });
    
      // Call the function to update the input fields when the page loads
      updateUserInputs(document.getElementById('userDropdown').value);
    </script>
    <!-- prettier-ignore -->
    <script>
      document.getElementById("userDropdown").addEventListener("change", function () {
        var selectedUserId = this.value;

        document.getElementById("updateForm").action = "/useradmin/users/" + selectedUserId;
        updateUserInputs(selectedUserId);
      });

      var selectedUserId = document.getElementById("userDropdown").value;
      document.getElementById("updateForm").action = "/useradmin/users/" + selectedUserId;
      updateUserInputs(selectedUserId);
    </script>
    <!-- prettier-ignore -->
    <script>
      // Function to handle the form submission
      function handleFormSubmit(event) {
        event.preventDefault();

        var selectedUserId = document.getElementById("userDropdown").value;

        var userroleElement = document.getElementsByName("userrole")[0];
        var userrole = userroleElement ? userroleElement.value : 'user';

        var formData = {
          username: document.getElementsByName("username")[0].value,
          email: document.getElementsByName("email")[0].value,
          firstname: document.getElementsByName("firstname")[0].value,
          lastname: document.getElementsByName("lastname")[0].value,
          userpass: document.getElementsByName("userpass")[0].value,
          userrole: userrole,
        };

        var postData = {
          inp_id: selectedUserId,
          inp_name: formData.username,
          inp_firstname: formData.firstname,
          inp_lastname: formData.lastname,
          inp_email: formData.email,
          inp_password: formData.userpass,
          inp_role: formData.userrole,
        };

        // Make the PUT request
        $.ajax({
          url: "/useradmin/users/" + selectedUserId,
          type: "PUT",
          data: postData,
          success: function (data) {
            console.log(data);
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      }

      // Attach the submit event handler to the form
      document.getElementById("updateForm").addEventListener("submit", handleFormSubmit);
    </script>
  </body>
</html>
